button
{
    background-color: gray;
    background-size: cover;
    object-position: center;
    margin: 50px;
   margin-right: 60px;
    border-style:dotted;
    width:200px;
    height:50px;
    align-self: center;
    

}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    text-decoration:dotted;
    text-decoration: underline;
}

body{

    background-color:darkslategray;
}