body{

    background-image: url("movie_images/background.png"); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0%;

}

.banner {
    background: url(movie_images/bannerbg.png) repeat-x;
}

.banner img {
    height: 50px;
}

body > h1 {
    margin-top: 50px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}


.Biggercontainer {
    width: 50%;
    margin: auto;
    border: 3px solid #6b776b;
    border-radius: 30px;
    position: relative;
    z-index: -100;
}

.Biggercontainer div.rightside {
    width: 30%;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    background: #a0b963;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 12px;
}

.Biggercontainer div.rightside img {
    width: 100%;
    border-top-right-radius: 28px;
}

.Biggercontainer dl {
    padding: 10px;
    color: #424e49;
}

.Biggercontainer div.rightside dt {
    font-weight: bold;
}

.Biggercontainer div.rightside dd {
    margin-bottom: 15px;
}

div.rightside dl ul {
    list-style-type: none;
    display:inline-flexbox;
}

.Biggercontainer div.leftside {
    width: 70%;
}

.Biggercontainer > div.leftside .header {
    background-image: url('movie_images/rbg.png');
    border-top-left-radius: 28px;
    height: 85px;
    color: red;
    font-size: 60px;
    font-weight: bold;
}

div.leftside .header img {
    border-top-left-radius: 28px;
    height: 85px;
    margin-right: 10px;
}

div.leftside .header * {
    float: left;
}

div.leftside .content {
    column-count: 2;
    column-gap: 10px;
    padding: 10px;
    margin: 10px;
}

.content .cols {
    min-height: 1000px; 
}

.content .review  p.article{
    border: 2px solid #6b776b;
    border-radius: 5px;
    padding: 5px;
    background-color: #E8DC9B;
    /* font-weight:bold; */
}

.content .review img {
    float: left;
    margin-right: 5px;
}

.content .review span.author-name,.content .review span.source {
    font-weight:200;
    font-size: 12pt;
}


.content .review span.source {
    font-style: italic;
}
.Biggercontainer div.spacer{
    height:150px;
}
.Biggercontainer p.pager {
    background: #a0b963;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    text-align: center;
    color: #424e49;
}

.validators {
    position: fixed;
    right: 0;
    bottom: 0;
}
