.container {
    width: 600px;
    background-color: rgb(247, 240, 240);
    padding: 0 20px 20px;
    color: #0f0f0f;
    margin: 120px auto 120px;
    font-family: 'Times New Roman', Times, serif;
  }

fieldset{
    border-radius: 5px;
    padding: 5px;
    background-color: #ebebeb;
    box-shadow: 1px 2px 2px 1px #dedada;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

fieldset legend {
    background: rgb(110, 106, 106);
    padding: 10px;
    border-radius: 2px;
    box-shadow: 1px 2px 2px 1px #8e8484;
}

.click-me-button {
    padding: 10px 24px;
    background-color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 4px;
    color: white;
    width: 100%;
    font-size: 16px;
}

.validators {
    padding: 10px;
    text-align: center;
}
.validators a{
  text-decoration: none;
}