body{
    color: #404040;
    background-image: url("images/silverware.jpg");
    background-color: #FFFFFF;
    font-size: 11pt;
    font-family: Georgia, Garamond;
    padding-left: 20px;
    padding-right: 20px;
<<<<<<< HEAD
    
=======
    background-attachment: fixed;

>>>>>>> 2d1d5e438c56ac3d0aefe0e9422e0496ed87b20c

}

h1,h2,h3{
    background-color:#F0F0F0;
    color: #A4A400;
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial';
}
h1{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}
h2{
    font-weight: normal;
    text-decoration: underline;
    padding: 5px;
}
a{
    color: #A4A400;
}
.spanstrok{
    text-decoration: line-through;
}

.user-comments .detail {
    margin-left: 50px;
}

.user-comments .detail .content {
    background-color:#FFFFA8 ;
    font-style: italic;
}

ul {
    list-style: none;
}

ul li:before {
    content: url('images/pie_icon.gif');
    padding-left: 5px;
}
.footer{
    float: right;
    text-align: right;
}
