.body{

    background-color: #8a8585;
}

p::first-letter{
font-size: 1.5em;
float: left;
color: #0e0d0d;
}
.main{

    width: 100%;
    background-color:bisque;

}

.miu
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold ;
    text-decoration:dotted;
    color: dimgray;
}
img {
    width: 150px;
    border-radius: 50px;
  }
  .username {
    font-weight: bold;
    font-variant: normal;
    
  }
  p.description {
    font-style: italic;
    font-size: medium;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #97bff8;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    width: 100%;   
}
.intro{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    
}
.p1{
    font-family: 'Times New Roman';
    font-weight: 100;
    font-style: italic;
    font-size: large;
    font: bolder;

}


.happyphoto{
    width: 300px;
    height: 150px;
}

.Sadphoto{
    width: 300px;
    height: 150px;
}
a:hover { color:rgb(112, 92, 114); }

.Exhaustedphoto{
    width: 300px;
    height: 200px;
}

.footer
{
    position:absolute;
    bottom: 0;
    width: 100%;
  
   }
   .validators{
    float: right;

   }
   .home{
       float: right;
   }
   .bodyINdex{
       background-color: #8a8585;
   }
   li{
       font-family: 'Segoe UI';
       font-weight:bold;
       font-style: italic;

   }
